.main {
    background-color: black;
}
.header .box{
    width: 30%;
    float: left;
}
.header .box1{
    width: 50%;
    float: left;
}
.header .box img{
    width: 70px;
    height: 70px;
    margin-top: 40px;
    margin-left: 40px;
}
.body p{
    text-align: center;
    color: white;
    font-size: 25px;
}
.body .button img{
  width: 140px;
  margin-bottom: 30px;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
div3 {
  animation: counter 5s infinite alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
  margin-left: 870px;
  color: white;
}

div3::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 1029;
  }
  to {
    --num: 1958;
  }
}


.footer .box4 {
    text-align: center;
    color: red;
    font-size: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}